---
layout: default
title: Home
---
<!-- ========== BIO ========== -->
<div class="docs-section" id="bio">
  <h4>Bio</h4>
  
  <a href="" target="_blank"></a>
  
  <p>
  I am currently a visiting professor at <a href="http://rutgers.edu" target="_blank">Rutgers University</a>, and a professor at <a href="http://www.itu.dk/" target="_blank">The IT University of Copenhagen</a>. I have been at ITU since 2016; before that I was a visiting professor at Cornell Tech for two years. I was an Associate Professor at Stockholm University from 2012-2015 and a research scientist at UC San Diego from 2007 to 2011. 
  </p>


</div>

<div class="docs-section" id="research">  
  <h4>Research</h4>
  <p>
    My research focuses on experiences of privacy in the context of location-based sociotechnical systems.
    I use qualitative and mixed methods to study human interaction and practices around mobile technologies, in particular location-sensor technologies, in order to provide better knowledge of how to design privacy sensitive IoT.   
  </p> 
</div>


<!-- ========== PUBLICATIONS ========== -->
<div class="docs-section" id="publications">
  <h4>Publications</h4>

  <p>For a more comprehensive list of publications, see <a href="{{ site.data.main_info.google_scholar }}" target="_blank">Google Scholar</a>.
  </p>

  <ul class="tab-nav">
    <li><div class="button active" data-ref="#papers-selected">Selected</div></li>
    <li><div class="button" data-ref="#papers-all">All</div></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="papers-selected">
      {% assign selected_papers = site.data.publications.papers | where: "selected", "y" %}
      {% for paper in selected_papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b></p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i>{% if paper.year %}. {{ paper.year }}.{% endif %}</p>
          {% if paper.award %}
          <p><i class="fa fa-trophy" style="color:#1EAEDB"></i> {{ paper.award }}</p>
          {% endif %}
          <div class="paper-buttons">
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf }}" target="_blank">Paper</a>
            {% endif %}

            {% if paper.preprint %}
              <a class="button" href="{{ paper.preprint }}" target="_blank">Louise's version</a>
            {% endif %}

            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}

            {% if paper.data %}
              <a class="button" href="{{ paper.data }}" target="_blank">Data</a>
            {% endif %}

            {% if paper.prereg %}
              <a class="button" href="{{ paper.prereg }}" target="_blank">Registration</a>
            {% endif %}
            
            {% if paper.slides %}
              <a class="button" href="{{ paper.slides }}" target="_blank">Slides</a>
            {% endif %}

            {% if paper.poster %}
              <a class="button" href="{{ paper.poster }}" target="_blank">Poster</a>
            {% endif %}

            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}

          </div>
        </div>
      {% endfor %}
    </div>

    <div class="tab-pane" id="papers-all">
      {% for paper in site.data.publications.papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b></p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i>{% if paper.year %}. {{ paper.year }}.{% endif %}</p>
          {% if paper.award %}
          <p><i class="fa fa-trophy" style="color:#1EAEDB"></i> {{ paper.award }}</p>
          {% endif %}
           <div class="paper-buttons">
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf }}" target="_blank">Paper</a>
            {% endif %}
            
             {% if paper.preprint %}
              <a class="button" href="{{ paper.preprint }}" target="_blank">Louise's version</a>
            {% endif %}

            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}

            {% if paper.data %}
              <a class="button" href="{{ paper.data }}" target="_blank">Data</a>
            {% endif %}

            {% if paper.prereg %}
              <a class="button" href="{{ paper.prereg }}" target="_blank">Registration</a>
            {% endif %}

             {% if paper.slides %}
              <a class="button" href="{{ paper.slides }}" target="_blank">Slides</a>
            {% endif %}

            {% if paper.poster %}
              <a class="button" href="{{ paper.poster }}" target="_blank">Poster</a>
            {% endif %}

            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}

          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<!-- ========== NEWS ========== -->
<div class="docs-section" id="news">
  <h4>Recent News</h4>
  {% for news_item in site.data.news.news_items %}
  <p>
    <b>{{ news_item.date }}</b>. {{ news_item.item }}{% if news_item.link %} <a href="{{ news_item.link }}" target="_blank">(more info)</a>{% endif %}.
  </p>
  {% endfor %}


<!-- ========== Personal ========== -->
<div class="docs-section" id="personal">
  <h4>Personal</h4>

  <p>I live in New York City with my two children. </p>

</div>

<!-- ========== THANKS ========== -->  
<div class="docs-section" id="template">
    <h4>Website Design</h4>
    Website designed by <a href="https://web.stanford.edu/~msaveski/" target="_blank">Martin Saveski</a> and forked by permission via <a href="https://github.com/mmoorr/www_personal" target="_blank">Mor Naaman</a>.
    <!--<br/>-->
</div>
